* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn button {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0, 0,0.3);

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  #buttonContainer {
    position: relative;
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: font-size 0.3s ease;
  }

  .green {
    background-color: #4CAF50;
    color: white;
    border: none;
  }

  .red {
    background-color: #f44336;
    color: white;
    border: none;
  }

  .green:hover {
    transform: scale(1.1);
  }

  .red:active {
    animation: grow 1s infinite alternate;
  }

  @keyframes grow {
    to {
      font-size: 1000px;
    }
  }

  #gif {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }